<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!-- spring引入外部属性文件 -->
	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>beans.properties</value>
		</property>
		<property name="fileEncoding" value="utf-8" />
	</bean>
	
	<bean id="testBean" class="com.gwg.spring.propertyfile.test.TestBean">
	    <property name="name" value="${person.name}"></property>
	</bean>

</beans>